*{
    box-sizing: border-box;
}
div{
    position: absolute;
    top: 350px;
    bottom: 250px;
    left: 800px;
    right: 500px;
}
body.dark{
    background-color:#0d1117;
}
body{
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    transition: 0.2s linear;
}
.checkbox{
    opacity: 0;
    position: absolute;
  
}

.checkbox:checked + .label .ball{
    transform: translateX(24px);
    transition: 0.5s;
}

.label{
    background: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    height: 30px;
    width: 50px;
    transform: scale(1.5);
}


.ball{
    width: 22px;
    height: 24px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50px;
    transition: 0.3s linear;
}


.fa-moon{
    color: #f1c40f;
}

.fa-lightbulb{
    color:#f38a12;
}