/*Import google fonts*/
@import url('fonts.css');

/*Import variables*/
@import url('./paritials/variables.css');

/*Global styling*/
@import url('./paritials/global.css');

/*NAV BAR CSS*/



.header_rc .main_menu .navbar .navbar-brand{
   padding: 0rem 2rem 0rem 5rem;
}

.header_rc .main_menu .navbar {
    padding: 1rem 20rem;
}
.header_rc .main_menu .nav-item .nav-link
{   font: normal 500 15px/2px var(--roboto);
   
    text-transform: uppercase;
    padding: 1.5rem;
    color:var(--title-color);
}

.header_rc .main_menu .navbar-nav .active  a{
 background: var(--gradient-color);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 background-clip: text;
}

.header_rc .main_menu .navbar-nav  a:hover{
    background: var(--gradient-color);
    font-weight: 750;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
   }

/*Ending of header and nav*/

/* Banner Styling*/

.site-main .site-banner
{
  background: url(../images/banner/background.jpg) repeat 0% 50%;
}


.site-main .site-banner .site-title h3{
 padding-top: 35%;
 font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: "👋";
    height: 3px;
    width: 5px;
    background: none;
    display: initial;
    margin-left: 5px;
    transform: translateY(-10px);

   }

   .site-main .site-banner .site-title h1{
    font-size: 5rem;
   }
   .site-main .site-banner .site-title h4{
    font-size: 1.5rem;
   }

   .site-main .site-banner .banner-image>img{
       padding: 7rem 0;
       width: 90rem;
   }


/* End of Banner Styling*/

/*Start of About area*/

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2> span{
   display: block;
   font : normal bold 49px/ 60px var(--roboto);
   letter-spacing: 20px;
}

.site-main .about-area .about-title .paragraph >p {
    padding: 0.4rem 0;
}





/*End of About area*/

/*Start Lang and Tools */

.site-main .lang-area{
    padding: 1rem 20rem;
    margin-bottom: 4rem;
}
 
.site-main .lang-area .first-row .col-lg-4{
 display: flex;
 justify-content: center;
}

.site-main .lang-area .first-row .col-lg-4 >.single-lang{
   border: 2px solid var(--border-color);
   text-align: center;
   padding: 1.5rem 0rem;
   margin: 0.2rem 0;
   width: 180px;
   height: 120px;
   cursor: pointer;
   transition: transform.4s ease;
}

.site-main .lang-area .first-row .col-lg-4 >.single-lang>img{
    width: 80%;
}

.site-main .lang-area .first-row .col-lg-4 >.single-lang:hover
{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.site-main .lang-area .first-row .col-lg-4 >.single-lang:hover>img{
    filter: brightness(1.25);
    
}




/*End Lang and Tools */