/*Global Classes*/

.title-text{
    font:normal bold ;
    font-family: "Roboto";
}

.text-uppercase{
   text-transform: uppercase;
}

/*Button*/

.button{
    padding: 0.8rem 2.2rem;
    font: normal 500 16px/20px var(--roboto);
}

.button.primary-button
{  
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background.6s ease;
    box-shadow: var(--box-shadow);
    border: solid rgb(38, 55, 206);
    border-radius: 5px;
}
.button.primary-button:hover
{
   background: whitesmoke;
   background-clip: padding-box;
   color: rgb(250, 39, 2);
   
}
.button .primary-button::after,.button.secondary-button::after
{
    position: absolute;
    top: -2px; left:-2px ;
    background: var(--gradient-color);
    content: "";
    z-index: -1;
    border-radius: 4px;
}

.button.secondary-button{
    background: whitesmoke;
    background-clip: padding-box;
    color: rgb(0, 0, 0);
    transition: background.6s ease;
    border: solid  rgb(38, 55, 206);
    border-radius: 5px;
    
}

.button.secondary-button:hover{
    background: var(--gradient-color);
    color: wheat;
    box-shadow: var(--box-shadow);
}


p.para{
    color: var( --text-color);
    font: normal bold 16px/ 25px var(--roboto);
}

.font-roboto{
    font-family: var(--roboto);
}

/*Stick nav bar class navbar_fixed*/
.navbar_fixed{
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0; right: 0;
    background: white;
    box-shadow: var(--box-shadow);
    z-index: 999;
    transition: background 1s ease;
    
}
